body {
    background-color: #FCE4EC;
    
}

h1 {
    font-family: fantasy;
    color: #303F9F;
    
}

h3 {
    font-family: cursive;
    color: #26C6DA;
}


p {
    font-family: monospace;
    color: #64B5F6;
    
}


nav u1 {
    font-family: inherit;
    color: #7C4DFF;
    
    
}